@import url('https://fonts.googleapis.com/css?family=Prompt&display=swap');
.bar{
    background: #000000;
}
.bg{
    background-image: url('../../assets/img/Presentation.jpg');
    background-size: 100% 100%;
}
.sunny{
    background-image: url('../../assets/img/sunny.jpg');
    background-size: 100% 100%;
}
.cloudy{
    background-image: url('../../assets/img/cloudy.jpg');
    background-size: 100% 100%;
}
.shower{
    background-image: url('../../assets/img/shower.jpg');
    background-size: 100% 100%;
}
.mostly{
    background-image: url('../../assets/img/mostly.jpg');
    background-size: 100% 100%;
}
.partly{
    background-image: url('../../assets/img/partly.jpg');
    background-size: 100% 100%;
}
.card1{
    border-radius: 15px;
    background: #ffffff;
}
.text3{
    color: #fff;
    text-align: center;
    position: relative;
    top: 15%;
    right: 4%;
}
.text{
    font-size: 20px;
    color: #ffffff;
    font-family: 'Prompt', sans-serif;
    font-weight: bold;
}
.text1{
    color: #000000;
    font-weight: bold;
    font-family: 'Prompt', sans-serif;
}
.text2{
    text-transform: uppercase;
    background: linear-gradient(to right, gold 0%, #000000 150%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Prompt', sans-serif;
}
.cardregister{
    padding-top: 50px;
    padding-left: 20%;
    padding-right: 20%;
}
.button1{
    background: #272727;
    border-radius: 5px;
    color: #ffffff;
    
   
}


.color-text-1{
    color: #ffffff;
    font-size: 100px;
    margin-left: 22%;
}

.color-text-2{
    color: aqua;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
  
.example-full-width {
    width: 100%;
}

.mat-card-cvr{
    width: 70%;
    text-align:center;
    opacity: 0.9;
}
.posiont-center{
    position: relative;
    top: 23%;
    left: 18%;
}

.button-run{
    margin-right: 4%;
}

.text-center{
    text-align: center;
}

.container {
  position: relative;
  width: 24px;
  height: 24px;
}

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.text {
  display: block;
  margin-top: 75px;
  margin-left: -30px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: .25;
  animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}

#footer{
    position: fixed;
    right: 20px; 
    bottom: 0px;
    margin-right: auto;
    margin-left: auto;
}
html {
    scroll-behavior: smooth;
}
