<html>
    <script src="node_modules/chart.js/src/chart.js"></script>
<body class="bg cardregister example-container" id="head">
    <div class="row posiont-center">
        <div class="col">
            <div class="row">
                <div class="col">
                    <h6 class="text3">generate</h6>
                    <h1 id = "show" class="color-text-1">Solar
                           
                    </h1>
                </div>
            </div>
            <div class="row">
                <mat-card class="mat-card-cvr">
                    <div class="row">
                        <div class="col">
                            <h4>Predict</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field>
                            <mat-label >Season</mat-label>
                            <mat-select (selectionChange)="onChange($event)" >
                                <mat-option *ngFor="let food of foods"  [value]="food.value">
                                {{food.value}}
                                </mat-option>
                            </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </mat-card>
            </div>
            <div class="row" id="footer">
                <div class="col">
                    <div class="chevron"></div>
                    <div class="chevron"></div>
                    <div class="chevron"></div>
                    <a href="#section1"  class="text text">Scroll down</a>
                </div>
            </div>
        </div>
    </div>

</body>
<body class="bar" id="section1">
        <canvas id="myChart"></canvas>
</body>
<body class="bar" id="section1">
        <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Cloudy</a>
                  <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Fine</a>
                  <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Mostlycloudy</a>
                  <a class="nav-item nav-link" id="nav-partly-tab" data-toggle="tab" href="#nav-partly" role="tab" aria-controls="nav-partly" aria-selected="false">Partlycloudy</a>
                  <a class="nav-item nav-link" id="nav-shower-tab" data-toggle="tab" href="#nav-shower" role="tab" aria-controls="nav-shower" aria-selected="false">Shower</a>
                  
                </div>
              </nav>
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <canvas style="display: block; height: 356px; width: 713px;" id="lineChart"></canvas>
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <canvas style="display: block; height: 356px; width: 713px;" id="HelloChart"></canvas>
                </div>
                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                        <canvas style="display: block; height: 356px; width: 713px;" id="Mostly"></canvas>
                </div>
                <div class="tab-pane fade" id="nav-partly" role="tabpanel" aria-labelledby="nav-partly-tab">
                        <canvas style="display: block; height: 356px; width: 713px;" id="partly"></canvas>
                </div>
                <div class="tab-pane fade" id="nav-shower" role="tabpanel" aria-labelledby="nav-shower-tab">
                        <canvas style="display: block; height: 356px; width: 713px;" id="shower"></canvas>
                </div>
              </div>
</body>
</html>

